// Intro PART Start ///////======= /// ====== ///// ==== ///////

#about {
    padding: 40px 40px;

    .container {
        .head {

            h3 {
                font-family: 'Noto Serif', serif;
                font-style: normal;
                font-weight: 800;
                font-size: 35.68px;
                line-height: 34px;
                color: #232323;
                text-align: center;

                span{
                    color: #EDA415;
                }

            }
        }

        .about_left {
            margin-top: 40px;

            h4 {
                font-family: 'Noto Serif', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 25.68px;
                line-height: 34px;
                color: #232323;

                span {
                    font-weight: 600;
                }

                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 36px;
                    width: 170px;
                    height: 1px;
                    background: #EDA415;

                }
            }

            p {
                font-family: 'Noto Serif', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16.68px;
                line-height: 30px;
                color: #434343;
                margin-top: 25px;
            }
        }

        .about_middle {
            margin-top: 85px;


            h4 {

                font-family: 'Noto Serif', serif;
                font-style: normal;
                font-weight: 800;
                font-size: 60.68px;
                color: #EDA415;
                text-align: center;
            }

            p {
                font-family: 'Noto Serif', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 20.68px;
                line-height: 30px;
                color: #434343;
                text-align: center;
                margin-top: 10px;

                span {
                    font-size: 26.68px;
                    color: #EDA415;
                }
            }
        }

        .about_right {
            margin-top: 60px;

            .info {
                h3 {
                    font-family: 'Noto Serif', serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17.68px;
                    line-height: 30px;
                    color: #ACACAC;
                    text-align: center;

                    span {
                        display: block;
                        color: #232323;
                        font-weight: 600;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

// Intro PART End ///////======= /// ====== ///// ==== ///////